.container {
    width: 128rem;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.main {
    flex: auto;
    min-height: 60rem;
}

.sidebar {
    flex-shrink: 0;
    width: 30rem;
    background-color: tomato;
}